<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/home_page_style.css">
</head>

<body>
    <header></header>
    <main class="main">
        <section class="main__bloco-login">
            <h1 class="main__bloco-login__titulo">Somar</h1>

            <p class="main__bloco-login__login">Login:</p>
            <input class="input_login" type="text" name="Login" id="input_password" placeholder="Digite seu login...">
            <p class="main__bloco-login__password">Senha:</p>
            <input class="input_password" type="password" name="Senha" id="input_login" placeholder="Digite sua senha...">

        </section>
    </main>
    <footer></footer>
</body>

</html>