<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/home_page_style.css">
</head>

<body>
    <header></header>
    <main class="container">
        <section class="container__sessao_login">
            <h1 class="container__sessao_login__nome_produto">Somar</h1>
            <h1>Login</h1>
            <div class="container__sessao_login__input-login">
                <p class="container__sessao_login__input-login__login-title">Login:</p>
                <input type="text" name="Digite seu nome..." id="campo_nome_usuario">
                <input type="password" name="Digite sua sunha..." id="campo_usuario_usuario">
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>